@charset "UTF-8";
body
{
    background-color: #fffef1;
    font-family: 'Noto Sans KR';
}
.bbubbu{
	padding-top:100px;
	background-color: #f4eded;
	display:flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	height:160px;
	width:100%;
	
}
.cos_nav{
	display:flex ;
	justify-content: center;
	align-item: center;
}
.com_name{
   color : #f65371;
   font-weight: 900;
   font-size: 20px;
}

.lounge{

    margin: 0 auto;
    width: 60%;
}
.midbox{
    width: 20%;
}
.sidecate{
    display: block;
    position: fixed;
    width: 10%;
    max-width: 15.625rem;
    background: #f4eded;
    border-radius: 10px;
    height: 600px;
    box-shadow: 0 5px 10px 0 gray;
}
.sidehea{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidehr{
    border: 0;
    background-color: #FFFEF0;
    height: 1px;
    width: 90%;
    margin: 0 auto;
}
.listnamebox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listtitle{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.catetitle{
    font-size: 20px;
    font-weight: bold;
	color: #f65371;
}
.listnamebox{
    margin-bottom: 5px;
}
.listname{
    font-size: 17px;
    font-weight: bold;
    margin-top: 15px;
    color: #f65371;
}
.catelist {
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    font-size: 15px;
    font-weight: 400;

}
.catelist img{
    width: 15px;
    display: none;
}

.catelist span:hover{
    color: #FF8EA3;
    font-weight: 600;

}
.shoplistmid {
    margin-left: 200px;
    margin-top: 50px;
}
.shoplounge{
    margin-left: 20px;
}
.filterbox{
    margin: 20px 0;
    display: flex;
    justify-content: left;
}
.filterbt{
    display: flex;
    margin: 0 15px 0px 15px ;
}
.radiobox{
    display: flex;
    align-items: center;
    font-size: 13px;
}
.radiobt{
    appearance: none;
    background-color: white;
    border: 2px solid #bcbcc0;
    color: gray;
    padding: auto;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 100%;
    margin-right: 0.4rem;
    margin-top: 0;
}
.radiobt:checked {
    border: 4px solid #fcd11e;
}

.radiobt:hover {
    background-color: #FFFEF0;
    cursor: pointer;
}
.alllistbox{
    display: flex;
    flex-wrap: wrap;
}
.listbox{
    width: 250px;
    border-radius: 15px;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 35px;

}
.listbox:hover {
    box-shadow: 0 15px 15px 0 rgb(214, 213, 205);
    transition-duration: 400ms;
}

.proimg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.proimg img{
    width: 150px;
    border-radius: 10px;

}
.procompany{
    margin-left: 10px;
    font-size: 12px;
    margin-bottom: 5px;
}
.proname{
    margin-bottom: 10px;
    font-size: 15px;
    margin-left: 9px;
    font-weight: bold;
}
.prohr{
    border: 0;
    height: 1px;
    background-color: #bcbcc0;
    width: 95%;
    margin: 0 auto;
}
.proprice{
    margin: 10px 0 10px 10px;
    font-size: 15px;
    font-weight: 600;
}
.cartbt{
    display: flex;
    justify-content: end;
    margin-right: 10px;
    margin-bottom: 10px;

}
.cartbt a{
    padding: 5px;
    background-color: #FF8EA3;
    font-size: 12.3px;
    font-weight: 700;
    width: 80px;
    height: 35px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 3px 0 rgb(164, 163, 163);
    color: rgb(61, 61, 61);
    transition-duration: 400ms;
}
.cartbt a:hover{
    background-color: #f65371;
    color: #FFFEF0;

}
.pagebutton{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 16px;
}
ul.pagebutton li{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
ul.pagebutton li a{
    text-decoration: none;
    color: #868688;
    font-size: 1rem;
    border: none;
}

.leftbt{
    border-radius: 5px 0 0 5px;
    border: none;
}

.active{
    background-color: #ffeb994d;
    border-radius: 50%;
    border: 2px solid #fcd11e;
}
.active a{
    color: black;
    border: none;
}
