
.container
{
    max-width: 1024px;
    margin: 40px auto 0 auto ;
}
/* 상단 메뉴바 */
.view_head
{   
    display: flex;    
    justify-content: center;
    align-items: center;
    background-color: #f4eded;
    border-top: 1px solid #e4e4e6;
    border-bottom: 1px solid #e4e4e6;
    margin-top: 100px;
    margin-bottom: 10px;
    padding: 11px 0;
}
.view_head h1{
    margin: 0 30px;
    font-weight: 700;
    font-size: 16px;
    list-style: none;
}
.view_head a{
    padding: 8px 0;
    color:#868688;
}
.view_head :nth-child(1) a:hover, .view_head :nth-child(2) a:hover, .view_head :nth-child(3) a:hover, .view_head :nth-child(4) a:hover{
    padding: 8px 0;
    color:#090909;
    border-bottom: 2px solid #fcd11e;
    transition: 300ms;
}

/* 뷰 페이지 시작 */
.view_tag
{
   height: 30px;
    display: inline-flex;
    align-items: center;    
    background: #fde791;
    border-radius: 22px;
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 14px;
    padding: 0 15px;
    margin-bottom: 18px;
}
.view_tag img{
    width: 15px;
}

/* 제목 */
.write_head
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.write_head h2
{
    margin-left: 10px;
}
.write_head button
{
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* 글 내용 */
.write_postbox
{
    margin-left: 20px;
}
.postbox_user
{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 50px;    
}
.postbox_user button
{
    border: none;
    background-color: #f6f6f9;
    cursor: pointer;
    position: relative;
    padding: 4px 15px;
    border-radius: 5px;
}
.chat
{
    position: absolute;
    display: none;
    background-color: #fec6ca;
    width: 100px;
    margin-top: 4px;
    padding: 5px 10px;
    border-radius: 5px;

}
.postbox_text
{
    margin: 30px auto;
    white-space: pre-line;
}
.postbox_imgbox{
    display: flex;
    align-items: center;
}
.postbox_img
{
    display: flex;
    overflow: hidden;
    border: 1px solid #000;
    border-radius: 10%;
    margin-right: 30px;
    cursor: zoom-in;
}
.postbox_img img
{
    min-width: 180px;
    max-width: 180px;
    width: 100%;
    height: auto;
    aspect-ratio: 4/2.6;
    object-fit: cover;
}
.recom
{
    width: 55px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.fa-thumbs-up
{
    font-size: 20px;
    margin: 5px 0;
}
.recom span
{
    font-size: 12px;
}

/* 댓글 시작 */
.replybox
{
    margin-left: 10px;
    height: 100%;
}
.replybox h2
{
    margin-bottom: 20px;
}
.replybox ul
{
    margin-left: 10px;
    margin-bottom: 20px;
}
.replybox li
{
    display: flex;
    width: 100%;    
    font-size: 14px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
#commentForm2{
    display: flex;
    width: 100%;
}
.re_user_id
{
    width: 90px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}
.rechat
{
    position: absolute;
    display: none;
    width: 100px;
    background-color: #fec6ca;
    border-radius: 5px;
    padding: 5px 10px;

}
.re_content
{
    width: 700px;    
    white-space: pre-line;
    margin-right: 10px;
}
.re_date
{
    width: 140px;
    margin-right: 10px;
}
.re_btn
{
    width: 90px;
    display: flex;
    align-items: start;
}
.re_btn button
{
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left:20px;
    
}
.re_user_id:hover .rechat
{
    display: block;
}

/* 댓글 입력창 */
.reply_input_box textarea
{
    width: 100%;
    height: 100px;
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 10px;
    resize: none;
}
.inputbox
{
    display: flex;
    justify-content: end;
    margin-right: 20px;
}
.reply_input_box input
{
    border: none;
    background-color: #ffe8a3;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
}

