@charset "UTF-8";
/* 초기화 */
*
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: black;

}
body
{
    font-family: 'Noto Sans KR';
}
.container
{
    width: 60%;
    margin: 0 auto;
}

/* 상단 메뉴바 */
.cart_head
{
    margin-bottom: 10px;
    background-color: #f4eded;
    padding-top: 100px;
    padding-bottom: 20px;
}
.cart_head h1
{
    text-align: center;
    font-size: 20px;
    color: #f85d9b;
}

/* 마이페이지 메뉴박스 */
[name="mychk"]
{
    display: none;
}
.mypagebox
{
    display: flex;
}
.my_left
{
    width: 200px;
    height: 500px;
    margin-top: 10px;
    margin-left: 10px;
    background-color:  #f4eded;
    border: 1px solid gray;
}
.my_left li
{
    padding: 10px;
}
.my_left_li1
{ 
    text-align: center;
    padding: 20px;
    margin: 30px 0;
}
.my_left_li1 a
{    
    padding: 10px 20px;
}
.my_left_li2, .my_left_li3, .my_left_li4, .my_left_li5
{
    border-top: 1px solid #fff;
    display: flex;
    position: relative;
}
.my_left_li4
{
    background-color: #ff8fa4;
}
.my_left_li4 span, .my_left_li4 i
{
    color: #fff;
}
.fa-chevron-right
{
    position: absolute;
    right: 8px;
    color: #535353;
}
.my_left a
{
    width: 100%;
}
.my_left_li2:hover, .my_left_li3:hover, .my_left_li4:hover ,.my_left_li5:hover
{
    background-color: #ff8fa4;
}
.my_left_li2:hover span,.my_left_li2:hover .fas, .my_left_li3:hover span,.my_left_li3:hover .fas
, .my_left_li4:hover span,.my_left_li4:hover .fas, .my_left_li5:hover span,.my_left_li5:hover .fas
{
    color : white;
}
#msb1:checked ~ .my_left_li2, #msb2:checked ~ .my_left_li3
, #msb3:checked ~ .my_left_li4, #msb4:checked ~ .my_left_li5
{
    background-color: #ff8fa4;
}
#msb1:checked ~ .my_left_li2 span, #msb1:checked ~ .my_left_li2 .fas
, #msb2:checked ~ .my_left_li3 span, #msb2:checked ~ .my_left_li3 .fas
, #msb3:checked ~ .my_left_li4 span, #msb3:checked ~ .my_left_li4 .fas
, #msb4:checked ~ .my_left_li5 span, #msb4:checked ~ .my_left_li5 .fas
{
    color: white;
}
.my_left span, .my_left i
{
    cursor: pointer;
}

/* 상품 정보  */
.my_right
{
    width: 800px;
    margin-top: 10px;
    margin-left: 20px;
    padding-left: 30px;
    background-color: #fff;
    border: 1px solid gray;
    position: relative;    
}
.allchkbox
{
    margin: 20px 0;
    display: flex;
    justify-content: end;
    margin-right: 70px;
}
.allchkbox label
{
    padding-right: 5px;
}
.allchkbox input
{
    margin-right: 8px;
}
.product_list
{
    display: flex;
    width: 700px;
}
.product_img
{
    width: 150px;
}
.product_img img
{
    width: 100%;
}
.product_desc
{
    width: 100%;
    margin-left: 20px;
}
.product_desc_t
{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 50px;
}
.product_desc_t input
{
    margin-right: 10px;
}
.product_desc_b
{
    display: flex;
    /* justify-content: space-between; */
}

.product_desc_b {
    align-items: center;
}
.quanbox
{
    display: flex;
    justify-content: center;
}
.qntform{
    display:flex
}

.quanbox {
    margin-left: 50px;
}

.quanbox {
    align-items: center;
}
.quan_inbox
{
    margin-left: 5px;
    padding: 0 10px;
}

.it_quan
{
    width: 60px;
    height: 30px;
    text-align: center;
    border: none;
}

.quandel
{
    margin-left: 70px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: white;
    padding: 5px 10px 5px 10px;
    font-size: 10px;
}

.quandel a{
    color: red;
    font-weight: bold;

}


.quandel2
{
	display: inline-block;
    margin-right: 10px;
}

.quandel2 a{
    color: red;
    font-weight: bold;
    font-size: 15px;
}
.hr
{
    width: 90%;
    border: 1px solid lightgray;
    margin: 10px 0;
}
.product_sum
{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 20px;
    align-items: center;
    width:90%;
    
}
.updatebnt{
    font-family: Arial;
    color: #000000;
    font-size: 10px;
    background: #ffffff;
    text-decoration: none;
    padding: 5px 8px 5px 8px;
    border: 2px solid #bacdd9;
    font-weight: bold;
    border-radius: 5px;
}
.updatebnt:hover{
    background: #97a4ff;
    text-decoration: none;
}
.allprice
{
	margin-left : 15px;
    display: inline-flex;
    
}
.allprice span{
    margin-right: 5px;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.orderbnt_bnt{
    display: flex;
    justify-content: end;
    width: 90%;
}
.orderbnt{
    position: relative;
    padding: 8px 10px;
    border-radius: 50px;
    font-family: "paybooc-Light", sans-serif;
    text-decoration: none;
    font-weight: 700;
    transition: 0.25s;
    border: 3px solid #f199bc;
    background-color:white;
    color: #1c1c1c;
}
.orderbnt:hover{
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
    background-color: #f199bc;
    color: #ffffff;
}
.orderbtn:active {
   transform: scale(1.5);
  }
.opricebox{
    display: inline-flex;
}
.opricebox span{
    margin: 0 5px;
}

.delbox{
    display: inline-flex;
}
.delbox span{
    margin: 0 3px;
}

.tpricebox{
    display: inline-flex;
}
.tpricebox span{
    margin: 0 5px;
}
i{
    color: #ff8fa4;
}
