*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: black;
}
.body{
    background-color: #FFFEF0;
}
.container{
    width: 100%;
    margin:0 auto;

}
/*전체크기 분할*/
.lounge{

    margin: 0 auto;
    width: 60%;
}
/*midbox 시작*/

.midlounge{
    margin-left: 200px;
    padding-top: 100px;
}
.writebox{
    padding: 20px;
    margin-left: 10px;
}
.title{
    margin-bottom: 10px;
    margin-left: 10px;
}
.tltelcss{
    font-weight: bold;
    font-size: 30px;
    color: rgb(74, 74, 74);
}
.hrline{
    width: 93%;
    border: 0;
    background-color: rgb(185, 181, 181);
    height: 1px;
    
}
#in_title{
    margin-top: 10px;
    margin-bottom: 10px;
}
.titletxt{
    margin-left: 5px;
    font-size: 22px;
    font-weight: 600;
    margin-right: 10px;
    margin-bottom: 10px;
    line-height: 100%;
    color: rgb(74, 74, 74);

}
.selectbox{
    width: 100%;
    display: flex;
    margin: 10px 7px;
}
.board_type{
    width: 50%;
    background-color: white;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 3px;
    font: inherit;
    display: flex;
    align-items: center;
    height: 30px;
    /* padding : 3px; */
    margin-right: 12px;
}
#conoption{
    width: 38%;
    background-color: white;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 3px;
    font: inherit;
    display: flex;
    align-items: center;
    height: 30px;
    /* padding : 3px; */
    margin-right: 12px;
}
#in_content{
    margin-top: 10px;
}
#utitle{
    width: 89.5%;
    height: 28px;
    resize: none;
    font-size: 18px;
    margin-left: 7px;
    border: 1px solid grey;

}
textarea:focus {
    outline: 1.5px solid grey;
}
#in_content{
    margin-left: 5px;
}
.contenttxt{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    color: rgb(74, 74, 74);
}
#ucontent{
    width: 90%;
    height: 500px;
    font-size: 15px;
    padding: 5px;
    border: 1px solid gray;
    margin-bottom: 40px;
    margin-left: 2px;
    resize: none;
}
.filebox{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.filetitle{
    font-size: 15px;
    font-weight: 600;
    color: rgb(74, 74, 74);
    margin-right: 10px;
}
.filebox{
    height: 30px;
}

.filebox .upload-name {
    display: inline-block;
    height: 30px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid rgb(112, 112, 112);
    width: 50%;
    color: #999999;

}
.filebox label {
    display: inline-block;
    padding: 5px ;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 30px;
    margin-left: 10px;
    font-size: 15px;
}
.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
.pwtxt{
    font-size: 15px;
    font-weight: 600;
    color: rgb(74, 74, 74);
    margin-right: 10px;
}
.filebox input[type="password"]{
    margin-left: 9px;
    display: inline-block;
    height: 28px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid rgb(112, 112, 112);
    width: 20%;
    color: #999999;
}
.filebox input[type="password"]:focus{
    outline: 1.5px solid grey;
}

#fileList div{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 5px;
    border-bottom: 1px solid lightgray;
}
#fileList button{
    display: inline-block;
    padding: 5px ;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 30px;
    margin-left: 10px;
    font-size: 15px;
    border: none;
}
.filenames{
    border: none;
    padding: 5px;
}
.bt_se{
    display: flex;
    justify-content: end;
    margin-right: 50px;
}
.subutton{
    margin: 20px;
    position: relative;
    border: none;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 20px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 2px 2px 2px 2px rgba(46, 45, 45, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    background-color: #FFC7C2;
    color: rgb(74, 74, 74);

}
.subutton:hover{
    background-color: #FF8EA3;
}

#write_area{
    position: relative;
}
.addfilediv{
    position: absolute;
    right: 85px;
    bottom: 88px;
}
.addfilediv button{
    display: inline-block;
    padding: 5px ;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 30px;
    margin-left: 10px;
    font-size: 15px;
    border: none;
}